/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    #main-section{
        text-align: center;
        border: 1px solid cadetblue; 
        width: 550px;  
        height: 450px;
        border-radius: 8px;
        margin: 90px auto;
    }
    h2 {
        color: cadetblue;
        text-align: left;
        padding: 10px;
    }
    
    #para-section{
        margin: 20px;
        width: 400px;
        height: 180px;
        border-radius: 8px;
        text-align: left;
        padding: 10px;
        background-color:burlywood;
        text-decoration-color: brown;
    }
    .abstract{
        color: red;
        padding: 10px;
    }
    label{
        margin: 10px;
    
    }
    input{
        margin: 10px;
        width: 350px;
        height: 30px;
        padding: 15px;
        border-radius: 8px;
        color: gray;
    }
    
    button{
        text-align:right;   
        
        padding: 10px;
        margin: 20px;
        border-radius: 8px;
        transition: background-color 0.2s;
        background-color: #e0e0e0;
    }
    button:hover {
        background-color: #d5d5d5;
      }
      #sub{
        text-align: left;
        margin: 25px;
        /* max-width: 200px; */
      }
      #Contact{
        text-align: left;
        margin: 25px;

      }